body
{
    background: #e7eaee;
    color: #333;
    text-align: left;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding:0.5em 0 0.5em 2em;
}

#cabecera #logo
{
    width: 100px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width:70%;
    padding: 1em;
    text-align: left;
    border: 1px, solid rgb(0, 0, 0);
    margin:0 auto;
}

#post
{
   padding: 1em;
}

#container
{
    font-size: 20px;
}

#footer
{
   background: #37488b;
   color: white;
   text-align: center; 
   padding: 0.5em;
}

#succribete
{
    background: #d01515;
    padding: 0.2em;
    color: white;
    width: 10.2em;
    height: 1.20em;
    text-align: center;
    margin-bottom: 0.2em;
    /*border-radius: 0.4em;*/
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.2em;
}

#fotos
{
    text-align: center;
}
